@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
   background-color: #08748C; 
}
nav ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: white;
}

#hero-section {
    background-color: #08748C4D;
    margin-top: 0;
    height: 650px;
}
#hero-text {
    font-family: "Righteous", system-ui;
    margin-top: 100px;
    font-weight: 400;
    padding: 0px 60px 0px 0px;
}
#hero-btn {
    color: white;
    width: 150px;
    height: 50px;
    background-color: #F97F0F;
    border: none; 
}
#hero-btn2 {
    color: #F97F0F;
    width: 150px;
    height: 50px;
    border: 1px solid #F97F0F;
    background-color: transparent;
}
#hero-btn:hover {
    background-color: white;
    color: #F97F0F;
}
#hero-btn2:hover {
    background-color: white;
    color: #F97F0F;
}
#subscribe-section {
    background-color: #FCBB80;
    position: relative;
    top: -50px;
    width: 100%;
    height: 120px;
}
#sub {
    margin-top: 20px;
    font-family:  "Righteous", system-ui;
    font-weight: 400;
}
#about.div {
    width: 2px;
    height: 10%;
}
.people-image {
    width: 650px;
    height: 100%;   
    position: relative;
    left: -140px;
}
#section-1{
    width: 100%;
}
#about-div {
    padding: 30px;
    text-align: justify;
}
.about-header {
    font-family: "Righteous", system-ui;
    font-weight: 400;
}
.about-text {
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 400;
    font-size: 19px;
}
#about-btn {
    color: white;
    background-color: #F97F0F;
    border: none; 
}
.section-2-img {
    width: 100%;
}
.section-2 {
    background-color: #B5D5DD;
}
.section-2-text {
padding: 20px;
text-align: center;
height: 100%;
}
.section-2 ul {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    line-height: 2rem;
    margin-top: 30px 0px 30px 0px;
    font-family: "Reddit Sans Condensed", sans-serif;;
}
.section-2 h1 {
    font-family: "Righteous", system-ui;
    font-weight: 400;
}
.section-2 h4 {
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: 22px;
}
.section-3-h {
    font-family: "Righteous", system-ui;
    font-weight: 400;
}
.section-3-p {
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 400;
    padding: 0px 90px 0px 90px;
}
.union-image {
    width: 100%;
    margin-bottom: 10px;
}
.section-4 > div > div > div > h6,p {
font-weight: 400;
}
.section-4 > div > div > div > h4 {
    font-family: "Righteous", system-ui;
}
.section-4 > div > div > div > p {
    font-family: "Reddit Sans Condensed", sans-serif;
}
#section-5 {
    width: 100%;
}
#section-5 > div > div > div > h1 {
    font-family: "Righteous", system-ui;
    font-weight: 400;
    margin-top: 15px;
}
#section-5 > div > div > div > p {
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 400;
}
.div-flexed > div {
    border-radius: 10px;
}
.div-flexed > div > h6 {
font-family: "Righteous", system-ui;
font-size: 16px;
font-weight: 400;
text-align: justify;
margin: 10px 0px 10px 0px;
}
.div-flexed > div > p {
    margin: auto;
    text-align: justify;
    font-size: 12px;
    font-weight: 400;
    padding: 2px;
}
.ease-access {
    background-color: #CFD0ED;
}
.personalized-matching {
    background-color: #BFE6DD;
}
.flexible-com {
    background-color: #BFE6DD;
    padding: 20px 0px 0px 10px;
}
.affordable-pricing {
    background-color: #CFD0ED;
}
#barry #sarutobi #yuji {
    background-color: #F6FDFF;
}
#last-section {
    width: 100%;
    height: 306px;
    margin-top: 50px;
    text-align: center;
    background-image: url(./image/last\ image.png);
}
#last-section > h1 {
    margin-top: 40px;
    margin-bottom: 20px;
}
#last-section > p {
    margin-bottom: 20px;
    text-align: justify;
    font-family: "Reddit Sans Condensed", sans-serif;
    font-weight: 400;
}
footer {
    background-color: #000000;
    position: relative;
}

#quick-link {
    margin-top: 100px;
    margin-left: 100px;
}
#socials {
    margin-top: 100px;
}
.socials {
    display: flex;
    justify-content: space-between;
}
form > input {
    width: 380px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}
form > div {
    position: relative;
}
form > button {
    position: absolute;
    right: 860px;
    top: 200px;
    border-radius: 2px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #F97F0F;
    color: white;
    padding: 3px;
}
